.Rproj.user
.Rhistory
AnnualHarvOut.csv
CAN_adm1.RData
IteratedChanges.Rdat
PlotEffectsOut.csv
PriorsOut.csv
USA_adm1.RData
filzbach trend surface kriging - not working well.R
gibbs sampling test -not working well.R
estimating harvest rates.R
kriging testing.R
workspace
x.Rdat
priors - plot effects
correlation modelling.R
Thumbs.db
FIG1.pdf
FIG2a.pdf
FIG2b.pdf
